# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.tsbuildinfo

# Ambiente
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml
.dockerignore

# Logs
logs
*.log
logs/*.log

# Sistema
.DS_Store
Thumbs.db

# Testes
coverage/
